body{
    font-size: 20px; /* 文字大小 */
    color: #ccc; /* 文字顏色 */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px 20px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 背景不捲動 */
    -webkit-background-attachment: fixed; /* iOS 專用 */
    background-color: rgba(0, 0, 0, 0.8); /* 黑色遮罩 */
    background-blend-mode: multiply;
}

/* 三種尺寸 */
.font-large {
  font-size: 20px;
}
.font-medium {
  font-size: 18px;
}
.font-small {
  font-size: 16px;
}


/* 主要內容 */
    .main-content, .button-bar {
        width: 60%;
        min-width: 400px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 480px) { /* 當螢幕小於 480px 時 */
        .main-content, .button-bar {
            width: 100%;
            min-width: 100%;
            max-width: none;
        }
    }

/* 一般選單 */
    .menu{
        display: flex;
        flex-direction: column; /* 讓內容物直向排列 */
        text-align: center;
    }

    .menu button {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 480px) { /* 當螢幕小於 480px 時 */
        .menu button {
            width: 80%;
        }
    }

/* 地點選單 */
    .location-menu{
        text-align: center;
    }

    .location-menu button{
        width: 90px;
        height: 90px;
        padding: 0;
    }

    /* 三種尺寸 */
    .font-large .location-menu button {
        width: 90px;
        height: 90px;
    }
    .font-medium .location-menu button {
        width: 81px;
        height: 81px;
    }
    .font-small .location-menu button {
        width: 72px;
        height: 72px;
    }


/* 兩欄容器 */
    .column-container {
        display: flex;
        flex-wrap: wrap; /* 如果內容過長，允許換行 */
        gap: 10px; /* 設定欄之間的間距 */
        margin: 0;
    }

    /* 欄 */
    .column {
        flex: 1; /* 佔滿剩餘空間 */
        margin: auto 0; /* 垂直置中 */
        text-align: left;
    }

    /* 名字欄 */
    .column-name {
        flex: 0 0 120px; /* 欄的寬度 */
        margin: auto 0; /* 垂直置中 */
        text-align: center;
    }

    /* 小欄 */
    .column-small {
        flex: 0 0 60px; /* 欄的寬度 */
        margin: auto 0; /* 垂直置中 */
        text-align: center;
    }

    /* 欄內按鈕 */
    .column button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    /* 角色頁面名字 */
    .column h3 {
        color: white;
        font-size: 1.1em;
    }

    /* 欄內提示 */
    .column .note {
        text-align: center;
    }

/* 按鈕列 */
    .row-buttons {
        display: flex;
        text-align: center;
    }

    /* 按鈕列裡的按鈕 */
    .row-buttons button {
        flex: 1; /* 佔滿剩餘空間 */
        margin: 5px 0;
        padding: 0px;
        font-size: 1em;
        background: rgba(50, 50, 50, 0);
        border-radius: 0;
    }
    .row-buttons button:not(:last-child) {
        border-right: 1px solid #333; /* 分隔線 */
    }

/* 元素 */

    h1{
        font-size: 1.8em;
        color: white;
    }

    /* 列表標題 */
    h3 {
        color: white;
        margin: 0.5em 0;
    }

    /* 名字、品名 */
    h4 {
        color: white;
        margin: 0;
        font-size: 1em;
    }

    a{
        text-decoration: none; /* 移除超連結底線 */
        color: #ccc;
    }

    p {
        text-align: justify; /* 平均分布內文 */
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    /* 所有按鈕 */
    button {
        background-color: #222;
        /*box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);*/
        color: #ccc;
        font-size: 1em;
        border: none;
        /*border: 1px solid #333;*/
        padding: 10px 15px;
        margin: 10px 5px;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    button:hover {
        background-color: #444;
        color: #fff;
    }

    hr {
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin: 30px 0;
    }

    .light-hr {
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 10px 0;
    }


    /* 品項 */
    .item {
        padding: 10px 15px;
        margin: 1em 0px;
        background: #111;
        border-radius: 5px; 
    }

    /* 深色背景 */
    .background {
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.1); /* 光暈 */
    }

    /* 下框線 */
    .bottomborder {
        background: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    /* 初始隱藏 */
    .hide {
        display: none; 
    }

    /* 灰色字 */
    .note {
        color: #666;
    }

    /* 紅字 */
    .warn {
        color: #9B1212;
    }

    /* 置中 */
    .center {
        text-align: center;
    }

    /* 置右 */
    .right {
        text-align: right;
    }

    /* 靠上方 */
    .top {
        margin-top: 0;
    }

    /* 小字 */
    .small {
        font-size: 0.8em;
    }

    /* 小按鈕*/
    .small-button {
        padding: 5px 10px;
        margin: auto;
    }

    /* HP 預設顏色 */
    .hp {
        font-size: 0.9em;
        margin: 0;
        color: #984B4B;
    }

    /* MP 顏色 */
    .mp {
        font-size: 0.9em;
        margin: 0;
        color: #376FAE;
    }

    /* 通知 */
    #toast-container {
        position: fixed;
        top: 20px;
        right: 20px; /* 靠右 */
        z-index: 9999;
        display: flex;
        flex-direction: column; /* 讓內容物直向排列 */
        gap: 5px;
    }
    .toast {
        font-size: 0.8em;
        color: white;
        background-color: #444;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
        padding: 10px 15px;
        border-radius: 15px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s, transform 0.5s;
        transform: translateY(-20px);
        display: flex;
        justify-content: space-between;
        align-items: center; /* 垂直置中，要配合 display: flex */
    }
    .toast.show {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
    /* 關閉按鈕 */
    .toast .close-btn {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        margin-left: 10px;
    }

/* 頭像 */
    .avatar {
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); /* 光暈 */
        width: 75px;
        height: 75px;
        padding: 5px;
        margin: 5px auto;
        display: flex;
        justify-content: center; /* 水平置中，要配合 display: flex */
        align-items: center; /* 垂直置中，要配合 display: flex */
        transition: transform 0.15s ease-in-out; /* 定義過渡效果 */
    }
    /* 三種尺寸 */
    .font-large .avatar {
        width: 75px;
        height: 75px;
    }
    .font-medium .avatar {
        width: 68px;
        height: 68px;
    }
    .font-small .avatar {
        width: 60px;
        height: 60px;
    }

    /* 彈跳 */
    .jump {
        transform: translateY(-50px); /* 物件向上跳動 */
    }

    .avatar span {
        text-align: center;
    }

/* 對話 */
.dialogue-text {
    padding: 10px 20px;
}

/* 標題列 */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; 
}

/* 上方按鈕列 */
    .button-bar {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%); 
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        font-size: 1em;
        z-index: 10;
    }

    /* 只有加上 .animated 才有平滑效果 */
    .button-bar.animated {
        transition: transform 0.3s ease-in-out;
    }

    .button-bar a {
        color: #666;
        font-size: 1em;
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .button-bar a:hover {
        background-color: #333;
        color: white;
    }

    /* 隱藏到畫面外 */
    .hidden {
        transform: translateX(-50%) translateY(-100%); 
    }

    .button-bar span {
        font-size: 0.8em;
    }

    /* 返回按鈕 */
    .button-bar button {
        margin-left: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .button-bar button:hover {
        background-color: rgba(0, 0, 0, 0); 
    }

/* 返回按鈕 */
    .exit-button {
        position: absolute;
        left: 0; /* 靠左對齊 */
        margin: 0;
        padding: 0;
        background: none;
        box-shadow: none;
        border: none;
        color: #666;
        font-size: 0.9em;
    }
    .exit-button:hover {
        background: none;
    }

/* Top按鈕 */
    .top-button {
        background: none;
        width: 25px;
        height: 25px;
        position: fixed;
        bottom: 0;
        right: 50%; /* 置中 */
        transform: translateX(50%); /* 置中 */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .top-button:hover {
        background: none;
    }
    /* 用 CSS 畫箭頭 */
    .top-button::before {
        content: "︿";
    }

    /* 名稱輸入框 */
    .nameInput {
        font-size: 1em;
        color: #ccc;
        background: #222;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 10px 15px;
    }
