/* styles.css */

body{
    font-size: 20px; /* 文字大小 */
    color: #ccc; /* 文字顏色 */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    padding-top: 50px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* 背景不捲動 */
    -webkit-background-attachment: fixed; /* iOS 專用 */
    background-color: rgba(0, 0, 0, 0.8); /* 黑色遮罩 */
    background-blend-mode: multiply;
}

h1{
    font-size: 1.8em;
    color: white;
}

/* 列表標題 */
h3 {
    color: white;
    margin: 0.5em 0;
}

/* 名字、品名 */
h4 {
    color: white;
    margin: 0;
    font-size: 1em;
}


a{
    text-decoration: none; /* 移除超連結底線 */
    color: #ccc;
}

p {
    text-align: justify; /* 平均分布內文 */
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}


button {
    background-color: #222;
    color: #ccc;
    font-size: 1em;
    border: none;
    /*border: 1px solid #333;*/
    padding: 10px 15px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: #444;
    color: #fff;
}

hr {
    border: 1px solid #666;
    margin: 30px 0;
}


/* 主要頁面內容的空間 */
.main-content {
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 480px) { /* 當螢幕小於 480px 時 */
    .main-content, .button-bar {
        width: 100%;
        min-width: 100%;
        max-width: none;
    }
}


/* 一般選單 */
.menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 480px) { /* 當螢幕小於 480px 時 */
    .menu button {
        width: 80%;
    }
}


.dialogue-text {
    padding: 10px 20px;
}


/* 標題列 */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    
}

/* 返回按鈕 */
.exit-button {
    position: absolute;
    left: 0; /* 靠左對齊 */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: #666;
    font-size: 0.9em;
}
.exit-button:hover {
    background: none;
}


/* Top按鈕 */
.top-button {
    background-color: rgba(0, 0, 0, 0);
    /*border-top: 2px solid #666;*/
    border-radius: 5px;
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 0;
    right: 50%; /* 置中 */
    transform: translateX(50%); /* 置中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 用 CSS 畫箭頭 */
.top-button::before {
    content: "";
    width: 10px;
    height: 10px;
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    border-top: 3px solid rgba(255 255, 255, 0.5);
    transform: rotate(45deg); /* 讓兩條線組成箭頭 */
    position: absolute;
    top: 35%;
}
.top-button:hover {
    background: none;
}
.top-button:hover::before {
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
}


/* 地點選單 */
.location-menu{
    text-align: center;
}

.location-menu button{
    width: 90px;
    height: 90px;
}


/* 兩欄容器（戰鬥、商店） */
.column-container {
    display: flex;
    flex-wrap: wrap; /* 如果內容過長，允許換行 */
    gap: 10px; /* 設定欄之間的間距 */
    margin: 0;
}

/* 品項 */
.item {
    padding: 10px 15px;
    margin: 1em 0px;
    background: #111;
    border-radius: 5px; 
}

/* 欄 */
.column {
    flex: 1; /* 佔滿剩餘空間 */
    margin: auto 0; /* 垂直置中 */
    text-align: left;
}

/* 名字欄 */
.column-name {
    flex: 0 0 120px; /* 欄的寬度 */
    margin: auto 0; /* 垂直置中 */
    text-align: center;
}

/* 小欄 */
.column-small {
    flex: 0 0 60px; /* 欄的寬度 */
    margin: auto 0; /* 垂直置中 */
    text-align: center;
}

/* 欄內按鈕 */
.column button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* 欄內提示 */
.column .note {
    text-align: center;
}

/* 按鈕列 */
.row-buttons {
    display: flex;
    text-align: center;
}

/* 按鈕列裡的按鈕 */
.row-buttons button {
    flex: 1; /* 佔滿剩餘空間 */
    margin: 5px 0;
    padding: 5px;
    font-size: 1em;
    background: rgba(0,0,0,0);
    border-radius: 0;
}
.row-buttons button:not(:last-child) {
    border-right: 1px solid #333; /* 分隔線 */
}



/* 角色頁面名字 */
.column h3 {
    color: white;
    font-size: 1.1em;
}

/* 深色背景 */
.background {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

/* 下框線 */
.bottomborder {
    background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* 初始隱藏 */
.hide {
    display: none; 
}

/* 灰色字 */
.note {
    color: #666;
}

/* 紅字 */
.warn {
    color: #9B1212;
}


/* 置中 */
.center {
    text-align: center;
}

/* 置右 */
.right {
    text-align: right;
}

/* 靠上方 */
.top {
    margin-top: 0;
}

/* 小字 */
.small {
    font-size: 0.8em;
}

/* 小按鈕*/
.small-button {
    padding: 5px 10px;
    margin: auto;
}


/* 選中的敵人 */
.selected {
    border: 1px solid rgba(255, 55, 55, 1); /* 加上紅框 */
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

/* 受到攻擊後的 HP 變成粗體紅字 */
.red-hp {
    color: red;
    font-weight: bold;
}

.hp {
    font-size: 0.9em;
    margin: 0;
    color: #984B4B;
}

/* 狀態圖示按鈕 */
.status-button {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    background: none;
}

/* 戰鬥訊息 */
.battle-text {
    font-size: 0.9em;
    color: #999;
}




/* 主選單按鈕列 */
.button-bar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    transition: transform 0.3s ease-in-out; /* 平滑動畫 */
    font-size: 1em;
    z-index: 10;
}

.button-bar a {
    color: #666;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.button-bar a:hover {
    background-color: #333;
    color: white;
}

/* 隱藏到畫面外 */
.hidden {
    transform: translateX(-50%) translateY(-100%); 
}

.button-bar span {
    font-size: 0.8em;
}

/* 返回按鈕 */
.button-bar button {
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0);
}
.button-bar button:hover {
    background-color: rgba(0, 0, 0, 0); 
}



/* 創建角色頁面 */
input{
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}